---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />

  <p>*This site is from the Astro Blog Tutorial.*</p>
  
  <p>It has been updated to Astro 4.0.9 and is now using Content Collections instead of the old Astro.glob. Apart from this text, being updated and using content collections, it is otherwise completely unmodified from the tutorial code. </p>

  <p>You can find the <a href="https://github.com/sureshk999/astro-4-blog-with-tags.git">source code here</a></p>

  <p>Please star on github if you found it useful or <a href="https://buymeacoffee.com/sureshkhirwadkar"> buy me a coffee</a></p>

  <p>Full instructions for the tutorial are <a href="https://docs.astro.build/en/tutorial/0-introduction/">here</a></p>
</BaseLayout>

